.body{
  font-family: 'Montserrat', sans-serif;
}

.App{
  position: absolute;
  text-align: center;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  padding-bottom: 200px;
  
}
h1{
  margin-top: 50px;
  margin-bottom: 10px;
}
h3{
  margin-bottom: 30px;
}
.widget{
  margin-bottom: 30px;
  min-height: 200px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.7;
  -webkit-transform: scale(0.9); 
  -ms-transform: scale(0.9); 
  transform: scale(0.9); 
}
.widget:hover{
  opacity: 1;
  -webkit-transform: scale(1); 
  -ms-transform: scale(1); 
  transform: scale(1); 
}
.widget .body{
  padding: 40px;
  border-radius: 30px;
  background-color: white;
  margin-left: 10px;
  height: 100%;
}

.widget .body .location{
  font-size: 20px;
}
.widget .body .temp{
  font-size: 70px;
}
.widget .body .summary{
  font-size: 15px;
}
.widget .body .hour{
  font-size: 12px;
}